body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  height: fit-content;
}

.header {
  display: flex;

  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}

.layout {

  margin: 0 auto;
}

.header .logo {
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}

#logo {
  position: relative;
  left: -30px
}

.header nav ul {
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  color: #dd65f5
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #6aee71
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid rgb(255, 252, 252);
  padding-top: 45px;
  background-color: º #dda6e9;
  min-height: 150px;
  line-height: 7px;
  color: #444;
  margin-top: 80px;
  min-height: 40px;
}

.content {
  min-height: 400px;
}

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 30px;

}

.home h2 {
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.home h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}

.home .title a {
  padding: 7px;
  border-radius: 5px;
  color: rgb(33, 29, 29);
  background-color: #b3c8c7;
  text-decoration: none;

}


.home strong {
  color: #dd65f5;
}

.home .title a:hover,
input[type="submit"]:hover,
button :hover {
  background-color: rgb(97, 169, 174);
}

.page .heading,
.home .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgb(26, 137, 26)
}


#logo {
  width: 400px;
  height: 150px;
  margin-top: 30px;
}

#botoncontacto {
  margin-right: 20px;
}

.logo {
  align-items: center;

}



.category-name {
  font-size: 55px;
  color: #dd65f5;
  font-family: 'Dancing Script';
  font-weight: bold;
}

.card-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}


.basic-card {

  font-size: medium;
  position: relative;
  width: 300px;
  /* Ancho deseado */
  height: 400px;
  /* Altura deseada */
  margin: 10px;
  /* Espacio entre las tarjetas (ajusta según tus preferencias) */

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
  padding: 30px;
}

.basic-card .card-title {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.basic-card .card-text {
  line-height: 1.6;
}

.basic-card .card-link {
  padding: 10px;
  width: -webkit-fill-available;
}

.basic-card .card-link a {
  text-decoration: none;
  position: relative;
  padding: 10px 0px;
}



.basic-card .card-link a:after {
  top: 30px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;

  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
  width: 100%;
  left: 0;
}


.basic-card-aqua {
  background-image: linear-gradient(to bottom right, #7ee2ac, #99a3d4);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
  color: #edf2f3;
}

.basic-card-aqua .card-link {
  border-top: 1px solid #c0e7e3;
}

.basic-card-aqua .card-link a:after {
  background: #fff;
}

h2 {
  color: #dd65f5;
}