body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

.layout {
  margin: 0;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  height: fit-content;
}

h2 {
  color: #dd65f5;
  font-family: 'Dancing Script';
  font-size: 80px;
  margin-bottom: 20px;
}

h3 {
  margin-left: 45px;
  margin-top: 45px;
  text-align: left;
  text-decoration: underline;
}

p {
  margin-left: 50px;
  margin-left: 50px;

}



.header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}


.header .logo {
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}

.header nav ul {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  color: #dd65f5
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #44e04b
}

.footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  text-align: left;
  font-size: 14px;
  border-top: 3px solid rgb(255, 252, 252);
  padding: 20px 0;
  min-height: 150px;
  line-height: 7px;
  color: #444;
  justify-content: flex-end;
}



.content {
  min-height: 400px;
}

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 30px;

}

.home h2 {
  color: rgb(98, 97, 97);
  font-weight: lighter;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 15px;
}

.home h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}

.home .title a {
  padding: 7px;
  border-radius: 5px;
  color: rgb(33, 29, 29);
  background-color: #b3c8c7;
  text-decoration: none;

}


.home strong {
  color: #dd65f5;
}

.home .title a:hover,
input[type="submit"]:hover,
button :hover {
  background-color: rgb(120, 235, 243);
  color: white
}

.page .heading,
.home .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading {
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgb(26, 137, 26)
}


#logo {
  width: 267px;
  height: 145px;
}

#botoncontacto {
  margin-right: 20px;
}

.logo {
  align-items: center;

}

.fundacion {
  filter: none;
}

.enlace {
  color: #44e04b;
}

.enlace:hover {
  color: #0a0a09
}

.category-name {
  font-size: 80px;
  color: #dd65f5;
  font-family: 'Dancing Script';
  font-weight: bold;
}

.card-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}


.basic-card {

  font-size: medium;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
  padding: 30px;
}

.basic-card .card-title {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.basic-card .card-text {
  line-height: 1.6;
  margin: 0%;
}

.basic-card .card-link {
  padding: 10px;
  width: -webkit-fill-available;
}

.basic-card .card-link a {
  text-decoration: none;
  position: relative;
  padding: 10px 0px;
}

.basic-card-aqua {
  background-image: linear-gradient(to bottom right, #7ee2ac, #99a3d4);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
  color: #edf2f3;
}

.basic-card-aqua .card-link {
  border-top: 1px solid #c0e7e3;
}

.basic-card-aqua .card-link a:after {
  background: #fff;
}



.icon {
  display: inline-block;
  color: #c0e7e3;
}



.wrapper {
  display: inline-flex;
  list-style: none;
  margin-top: 30px;
}

.wrapper .icon {
  position: relative;
  background: #9a63a4;
  border-radius: 50%;
  padding: 15px;
  margin: 35px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #b76c6c;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.wrapper2 .whatsapp:hover,
.wrapper2 .whatsapp:hover .tooltip,
.wrapper2 .whatsapp:hover .tooltip::before {
  background: #44e04b;
  color: #ffffff;
}

.rrss {
  color: red
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  border-top: 1px solid #373636;
  position: relative;
}

.copyright-area {

  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #0a0a09;
}

.wrapper2 {
  display: inline-flex;
  list-style: none;
  margin-top: 10px;

}

.wrapper2 .icon {
  position: relative;
  background: #9a63a4;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper2 .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #b76c6c;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper2 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper2 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper2 .icon:hover span,
.wrapper2 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper2 .facebook:hover,
.wrapper2 .facebook:hover .tooltip,
.wrapper2 .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper2 .twitter:hover,
.wrapper2 .twitter:hover .tooltip,
.wrapper2 .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper2 .instagram:hover,
.wrapper2 .instagram:hover .tooltip,
.wrapper2 .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper2 .github:hover,
.wrapper2 .github:hover .tooltip,
.wrapper2 .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper2 .youtube:hover,
.wrapper2 .youtube:hover .tooltip,
.wrapper2 .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #72d18e;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}

.openModalBtn:hover {
  background-color: #dd65f5;

}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 23, 23, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom right, #7ee2ac, #99a3d4);
  ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
}

.modalContainer .title .h1 {
  display: inline-block;
  text-align: center;
  margin-top: 2px;
  font-size: medium;
  font-size: smaller;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 5px;
}

.modalContainer .bodymodal {
  flex: 50%;
  display: flex;
  margin-top: 0px;
  font-size: 18px;
}

.news {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #dd65f5
}

.blog:hover {
  color: #44e04b;
}

.blog {
  cursor: pointer;
}

.element-item {
  background-color: #ffffff49;
  padding: 0;
  margin: 10px;
  width: calc(25% - 20px);
  display: inline-block;
  position: relative;
}

.item-image {
  width: 100%;
  padding-bottom: 150%;
  background-size: cover;
  background-position: center;
}

.item-title {
  margin: 10px;
  padding: 0px;
  height: 40px;
  overflow: hidden;
  color: #0a0a09;
}

#logo2 {
  width: 500px;
  height: 200px;
}



.content {
  align-items: center;
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.grid-container div:hover img {
  filter: grayscale(0);
}



img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all .25s ease-in-out;
}

.galer {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

#dog {
  background: transparent url(http://www.dauid.us/wp-content/uploads/2013/06/murphy.png) 0px 0px no-repeat;
  width: 145px;
  height: 65px;
  -webkit-animation: dog .7s steps(7) infinite;
  -moz-animation: dog .7s steps(7) infinite;
  -ms-animation: dog .7s steps(7) infinite;
  -o-animation: dog .7s steps(7) infinite;
  animation: dog .7s steps(7) infinite;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes dog {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1015px;
  }

}

@-moz-keyframes dog {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1015px;
  }
}

@-ms-keyframes dog {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1015px;
  }
}

@-o-keyframes dog {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1015px;
  }
}

@keyframes dog {
  from {
    background-position: 0px;
  }

  to {
    background-position: -1015px;
  }
}